@font-face {
    font-family: 'Hasibuan free Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Hasibuan free Regular'), url('Hasibuan free.woff') format('woff');
    }

h1 {
    font-family: 'Hasibuan free Regular';
    font-size: '200';
}